// Generic 
.atbh-input, .atbh-select{
    box-sizing: border-box;
    padding: 10px;
    max-width: 343px;
    height: 60px;
    background: #F9F9F9;
    gap: 4px;
    display: flex;
    flex-direction: column;

    &:focus-within {
        border-bottom: 2px solid #000000;
        label {
            color: #000000;
        }
    }

    label {
        height: 20px;
        color: rgba(0, 0, 0, 0.5);
        &:hover {
            cursor: pointer;
        }
    }

    input, select {
        color:#C00000;
        margin: auto 0;
    }
}

// Select 
.atbh-select {
    flex-direction: row;
    .atbh-select-container {
        display: flex;
        flex-direction: column;
        background: #F9F9F9;
        flex: 1;
    }
    .atbh-select-arrow {
        padding: 0px 10px;
        margin: auto;
        font-size: 12px;
        user-select: none;
    }
}


// Radio, Checkbox labels
.atbh-radio, .atbh-checkbox {
    accent-color: #000000;
    input,label {
        &:hover {
            cursor: pointer;
        }
    }
}
