// Generic 
.atbh-input, .atbh-select{
    box-sizing: border-box;
    padding: 10px;
    max-width: 343px;
    height: 60px;
    background: #F9F9F9;
    gap: 4px;
    display: flex;
    flex-direction: column;

    label {
        height: 20px;
        color: rgba(0, 0, 0, 0.5);
    }

    input, select {
        color:#C00000;
        margin: auto 0;
    }
}

//Input
.atbh-input, .atbh-select-container {
    &:focus-within {
        border-bottom: 2px solid #000000;
        label {
            color: #000000;
        }
    }
}

// Select 
.atbh-select-container {
    display: flex;
    max-width: 343px;
    background: #F9F9F9;
    .atbh-select {
        flex: 1;
    }
    .atbh-select-arrow {
        padding: 0px 10px;
        margin: auto;
        font-size: 12px;
        user-select: none;
    }
}

// Radio 
.atbh-radio {
    accent-color: #000000;
}
