// Button 
/* base styling for our button */
.atbh-btn {
  padding: 12px 16px;
  background: transparent;
  border: 1px solid #1e1e1e;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 100%;

  &.loading {
    // opacity: 0.7;
    background: #d0d0d0 !important;
    pointer-events: none;
    user-select: none;

    .spinner {
      width: 18px;
      height: 18px;
      display: flex;
      margin: auto;
      border: 2px solid #ffffff;
      border-bottom-color: transparent;
      border-radius: 50%;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
    }
  }
  // Variants
  &.atbh-btn-primary {
    border: none;
    background: #C00000;
    color: white;
    &:hover {
      background: #b00000;
      
    }
  }

  &.atbh-btn-secondary {
    border: none;
    background-color: #000000;
    color: white;
  }

  // Shapes
  &.atbh-btn-rounded {
    border-radius: 20px;
  }
}


