// Button 
/* base styling for our button */
.btn {
  padding: 12px 16px;
  background: transparent;
  border: 1px solid #1e1e1e;
  cursor: pointer;

  // Variants
  &.btn-primary {
    border: none;
    background: #C00000;
    color: white;
    &:hover {
      background: #b00000;
      
    }
  }

  &.btn-secondary {
    border: none;
    background-color: blue;
    color: white;
  }

  // Shapes
  &.btn-rounded {
    border-radius: 20px;
  }
}


