// Button 
/* base styling for our button */
.atbh-btn {
  padding: 12px 16px;
  background: transparent;
  border: 1px solid #1e1e1e;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 100%;

  // Variants
  &.atbh-btn-primary {
    border: none;
    background: #C00000;
    color: white;
    &:hover {
      background: #b00000;
      
    }
  }

  &.atbh-btn-secondary {
    border: none;
    background-color: #000000;
    color: white;
  }

  // Shapes
  &.atbh-btn-rounded {
    border-radius: 20px;
  }
}


